/* app css stylesheet */
.mouse {
  cursor:pointer;
}

.colorCatchai {
  color:#f4476b !important;
}

a .catchai{
  color:#f4476b !important;
}

/*Barra de progreso*/
.progress-bar-catchai {
  background-color: #f4476b !important;
}

.catchai {
  background-color: #f4476b !important;
  border-color: #f4476b !important;
}

.catchai:hover {
  background:#eb3b60 !important;
}

.page-header {
  color:#f4476b;
}

.navbar {
	color: #fff;
	background-color: #f4476b !important;
	border-color: #eb3b60 !important;
}

.navbar-brand {
	color: #fff !important;	
}