<div ng-controller='DetalleController' ng-init='init()'>
	<!-- Page Header -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{model.gif.descripcion}}
			<small>Catchai</small>
			</h1>
		</div>
	</div>
	<!-- /.row -->
	<!-- Projects Row -->
	<div class="row">
		<div class="col-md-4 portfolio-item" class="img animated fadeIn">
			<img class="img-responsive" src="{{model.gif.ruta}}" alt="">
				<!--<img class="img-responsive" src="http://placehold.it/700x400" alt="">-->
			<p>{{imagen.descripcion}}</p>
		</div>
	</div>
	<!-- /.row -->
</div>